.border {
  border: 1px solid #969696 !important;
}
.border-bottom {
  border-bottom: 1px solid #969696 !important;;
}

button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 1px !important;
  color: white;
  &.plus {
    background: red !important;
  }
  &.minus {
    background: #29328d !important;
  }
  &.disabled {
    cursor: not-allowed;
  }
}

i {
  font-size: 23px;
}